antlr4-python3-runtime==4.8
astroid==2.15.1
attrs==22.2.0
bandit==1.7.5
carla==0.9.11
certifi==2022.12.7
charset-normalizer==3.1.0
contourpy==1.0.7
cycler==0.11.0
decorator==5.1.1
dill==0.3.6
discrete-signals==0.8.3
dotmap==1.3.30
fonttools==4.39.2
funcy==1.18
gitdb==4.0.10
GitPython==3.1.31
idna==3.4
importlib-resources==5.12.0
isort==5.12.0
joblib==1.2.0
kiwisolver==1.4.4
kmodes==0.12.2
lazy-object-proxy==1.9.0
lenses==0.5.0
mapbox-earcut==0.12.11
markdown-it-py==2.2.0
matplotlib==3.7.1
mccabe==0.7.0
mdurl==0.1.2
metric-temporal-logic==0.4.1
mypy==1.1.1
mypy-extensions==1.0.0
networkx==3.0
numpy==1.24.2
opencv-python==4.2.0.34
packaging==23.0
pandas==1.5.3
parsimonious==0.9.0
patsy==0.5.3
pbr==5.11.1
Pillow==7.2.0
platformdirs==3.2.0
progressbar2==4.2.0
psutil==5.9.4
pyenchant==3.2.2
pygame==2.4.0.dev2
Pygments==2.14.0
pylint==2.17.1
pynverse==0.1.4.4
pyparsing==3.0.9
python-dateutil==2.8.2
python-utils==3.5.2
pytz==2023.2
PyYAML==6.0
regex==2023.3.23
requests==2.28.2
rich==13.3.2
scenic==2.0.0
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
Shapely==1.8.5.post1
singledispatch==4.0.0
six==1.16.0
smmap==5.0.0
sortedcontainers==2.4.0
statsmodels==0.13.5
stevedore==5.0.0
threadpoolctl==3.1.0
tomli==2.0.1
tomlkit==0.11.6
torch==1.13.1+cu116
torchaudio==0.13.1+cu116
torchvision==0.14.1+cu116
tqdm==4.65.0
types-PyYAML==6.0.12.8
types-requests==2.28.11.16
types-setuptools==67.6.0.5
types-tabulate==0.9.0.1
types-urllib3==1.26.25.9
typing_extensions==4.5.0
urllib3==1.26.15
wrapt==1.15.0
zipp==3.15.0
